<?xml version="1.0"?>
<settings>

  <pluginGroups>
    <pluginGroup>org.mule.tools</pluginGroup>
  </pluginGroups>

  <servers>
    <server>
      <id>c4d83c4a-2070-43b7-a91d-874bad35c913</id>
      <username>omkarcapg</username>
      <password>OMomkar16@</password>
    </server>
  </servers>

</settings>